{% extends "layout.html" %}

{% block title %}
    Action Games
{% endblock %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1>Action Games</h1>
        </div>
    </div>
    <h3>Here are all the action games in this database</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Genre</th>
                <th scope="col">More Information</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <th scope="row">{{ game.id }}</th>
                <td>{{ game.gamename }}</td>
                <td>{{ game.genre }}</td>
                <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><a href={{ game.website }}>{{ game.website }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
